@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-blue-700
                px-5
                py-3
                rounded-lg
                shadow-lg
                font-semibold
                text-sm 
                text-white
                inline-block
                w-full
                sm:w-auto
                md:px-10 md:py-4 md:text-lg
                hover:text-gray-100
                hover:bg-blue-800
                focus:outline-none
                focus:ring
                focus:ring-offset-2
                focus:ring-blue-800
                focus:ring-opacity-50
                active:bg-blue-900
                dark:focus:ring-offset-blue-400
                dark:ring-offset-gray-900;
  }
}
